<%= form_for(@question, html: { class: "form-horizontal" }) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div><%= f.label :topic %></div>
    <div><%= f.text_field :topic %></div>
  </div>
  <div>
    <div><%= f.label :question %></div>
    <div><%= f.text_area :question %></div>
  </div>
  <div>
    <div><%= f.label :user %></div>
    <div><%= collection_select(:question, :user_id, User.all, :id, :name, {:prompt=>true}) %></div>
  </div>
  <div>
    <div><%= f.label :teacher %></div>
    <div><%= collection_select(:question, :teacher_id, Teacher.all, :id, :name, {:prompt=>true}) %></div>
  </div>
<br>

<%= f.label :status %>

<%= f.submit :class=>"btn btn-success"%>
 
<% end %>
