
<h1>Today's Questions</h1>



<br>
<table class="table table-hover">
  <% @questions.each do |question| %>


    
    <% tag :tr,  id: dom_id(question) %>
    <tr id="<%= dom_id(question) %>">
      <td>
        <h4>Question #<%= question.id %></h4>
        <%= image_tag(question.user.photo_url, class: 'img-circle') %><br> 
       <h4><%= question.user.name %></h4>
      </td>
      <td class="span10">
        <div class="well">
          <h3><%= question.topic %></h3>
          <%= question.question %>
        </div> 
        <p>Created: <%= time_ago_in_words(question.created_at) %></p>
      </td>
      <td>
        <h4><%= question.teacher.name %></h4>
        <%= image_tag(question.teacher.photo_url, class: 'img-circle') %><br> 
        
      </td>
      <td>
        <%= button_to 'Answered', answer_question_path(question), :class=>"question-state-button" %><br>
        <%= link_to 'Edit', edit_question_path(question), :class=>"btn btn-primary" %><br>
        <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %>
     </td>
   </tr>
 
    
<% end %>
</table> 






