<br>
<h1>HackerYou Teachers</h1><table >
  <thead>
    <tr>
      <td><%= link_to 'Questions', questions_path, :class=>"btn" %></td>
      <td><%= link_to 'Users', users_path, :class=>"btn" %></td>
      <td><%= link_to 'Add Teacher', new_teacher_path, :class=>"btn btn-primary" %></td>
    </tr>
</table>
<br>

    <% @teachers.each do |teacher| %>
      <div class="thumbnail span3">
        
            <%= image_tag(teacher.photo_url, class: 'img-rounded') %>
            <%= teacher.name %><br>
            <%= link_to 'Edit', edit_teacher_path(teacher), :class=>"btn btn-primary" %>
            <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger"  %>
        
      </div>
    <% end %>